.wrapper {
    background-color: transparent !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0px;
    height: 50px;
    padding-right: 30px;
    a{
        position: relative;
        text-decoration: none;
        color: white;
    }
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.addon{
    width: 40px;
}

.divider{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}